:root {
  // default theme color
  // can be overrided by uses `themeConfig` option
  --slidev-theme-primary: #3e5166;
  --slidev-theme-secondary: #34d399;
}

/* general css here */

html:not(.dark) #slide-content {
  /* light mode css here */
  @apply bg-white text-primary;
}

.dark #slide-content {
  /* dark mode css here */
  @apply bg-primary-600;

  h1 {
    @apply text-secondary;
  }
}

.slidev-layout {
  @apply relative h-full;

  h1 {
    @apply mb-8;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-display;
  }

  a {
    @apply text-secondary-400 hover:text-secondary-500 dark:text-gray-50 dark:hover:text-secondary-500 transition ease-in-out duration-300;
  }

  .prose > ul {
    list-style: none;

    li {
      margin-left: 0;
    }
  }

  ul.emoji-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding-left: 1rem;
      text-indent: -0.7rem;
    }

    li::before {
      content: '🐧 ';
    }
  }

  code {
    @apply text-secondary-300;
  }
}
