@import 'prism-theme-vars/base.css';
/* @import 'codemirror-theme-vars/base.css';
@import 'prism-theme-vars/to-codemirror.css'; */

:root {
  --prism-font-family: var(--slidev-code-font-family);
}

html:not(.dark) {
  --prism-foreground: #88e5c3;
  --prism-background: #3e5166;
  --prism-comment: #a0ada0;
  --prism-string: #f8e4aa;
  --prism-literal: #2f8a89;
  --prism-number: #9ecaf1;
  --prism-keyword: #ff80bf;
  --prism-function: #d9e2b1;
  --prism-boolean: #1c6b48;
  --prism-constant: #f8e4aa;
  --prism-deleted: #a14f55;
  --prism-class: #88e5c3;
  --prism-builtin: #88e5c3;
  --prism-property: #f8e4aa;
  --prism-namespace: #b05a78;
  --prism-punctuation: #fbfbfb;
  --prism-decorator: #bd8f8f;
  --prism-regex: #ab5e3f;
  --prism-json-property: #698c96;
  --prism-selector: #c3e5b8;
}

html.dark {
  --prism-foreground: #88e5c3;
  --prism-background: #3e5166;
  --prism-comment: #a0ada0;
  --prism-string: #f8e4aa;
  --prism-literal: #2f8a89;
  --prism-number: #9ecaf1;
  --prism-keyword: #ff80bf;
  --prism-function: #d9e2b1;
  --prism-boolean: #1c6b48;
  --prism-constant: #f8e4aa;
  --prism-deleted: #a14f55;
  --prism-class: #88e5c3;
  --prism-builtin: #88e5c3;
  --prism-property: #f8e4aa;
  --prism-namespace: #b05a78;
  --prism-punctuation: #fbfbfb;
  --prism-decorator: #bd8f8f;
  --prism-regex: #ab5e3f;
  --prism-json-property: #698c96;
  --prism-line-number: #888888;
  --prism-line-number-gutter: #eeeeee;
  --prism-line-highlight-background: #444444;
  --prism-selection-background: #444444;
  --prism-selector: #c3e5b8;
}

pre[class*='language-'] {
  @apply p-4 font-bold;
}

:not(pre) > code {
  font-size: 0.9em;
  background: var(--prism-background);
  @apply font-light py-0.5 rounded;
}

:not(pre) > code:before,
:not(pre) > code:after {
  content: '`';
  opacity: 0.5;
}

:not(pre) > code:before {
  margin-right: -0.08em;
}
