:root {
  --shiki-color-text: #88e5c3;
  --shiki-color-background: #3e5166;
  --shiki-token-constant: #7aceaf;
  --shiki-token-string: #f8e4aa;
  --shiki-token-comment: #a0ada0;
  --shiki-token-keyword: #ff80bf;
  --shiki-token-parameter: #f8e4aa;
  --shiki-token-function: #e5f1af;
  --shiki-token-string-expression: #f8e4aa;
  --shiki-token-punctuation: #fbfbfb;
  --shiki-token-link: #b3f9df;
}

.dark {
  --shiki-color-background: #273341;
}

@media (prefers-color-scheme: dark) {
  :root {
    --shiki-color-background: #273341;
  }
}
pre.shiki {
  @apply p-4 rounded overflow-scroll;
}
code {
  @apply font-mono font-bold;
}
